* {
  text-align: center;
  font-family: 'PoppinsRegular'; }

body {
  background: url("https://images.unsplash.com/photo-1470790376778-a9fbc86d70e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cG9ydGZvbGlvJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80") 
    no-repeat center fixed;
  background-size: cover; 
  margin:0; }

#header {
  position: fixed;
  top:0;
  width: 100%;
  left:0px; }

#title {
  font-family: 'NowRegular'; 
  font-size: 50px;
  font-style: normal;
  color: white;
  background-color: black;
  position: absolute;
  margin-top:0px;
  width:100%; }

#menu {
  border-bottom-style: solid;
  border-width:thin;
  border-color:black;
  margin-top:68px;
  width: 100%;
  position: absolute;
  background-color: white;
  padding: 0.2em 0; }

li {
  display: inline; }

li a {
  font-family: 'LatoRegular';
  font-size: 20px;
  color: black;
  padding: 40px;
  text-decoration: none; }

.selected {
  color: #DE5049 }

#menuHeader {
  text-align: left;
  padding-left: 50px;
  font-size: 40px;
  color: black;
  margin: 150px 0 0 0; }

#content {
  min-height:100%;
  overflow: auto;
  margin: 3% 5% 4% 5%; 
  background-color: rgba(251, 149, 208, 0.8);}

.sections {
  float:left;
  width:40%;
}

#descriptionSection {
  font-size:20px;
  padding:2%;
  margin-left: 10%;
  margin-top: 5%;
  background:#FFC879;
  color:#396C92;
}

#descriptionSection a {
  color:#FF0093;
}

#videoSection {
  margin: 2%;
  margin-left:30%;
  margin-top:5%; }

#Logo {
  margin-top: 10%;  }

ul.lists li {
  display: list-item;
  text-align:left; }

.classList dt, .classList dd{
  text-align:left;
  padding-left:10px;
}

#footer {
  clear: both;
  position: relative;
  background-color: #FAF0E6;
  padding-top:1px; }

.signature {
  background-color:black;
  padding-left: 10px;
  margin:0;
  color: white;
  text-align: left; }
